@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Esse CRUD foi feito utilziando a linguagem de programação C#, no modelo MVC (Model-view-controller).
    A abreviação CRUD mapeada para o padrão ISO/SQL:
    Create	INSERT
    Read (Retrieve)	SELECT
    Update	UPDATE
    Delete (Destroy)	DELETE
</p>
