@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua joão Carlos Gonçalves<br />
    São José do Rio Preto, SP 15061-510<br />
    <abbr title="Telefone">Telefone:</abbr>
    (12) 9 8179-4654
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:Support@example.com">alonso.thales@gmail.com</a><br />
</address>